.left-site{
    overflow: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.left-site::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn */
}

.left-mess{
    overflow: hidden scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.left-mess::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 6px; /* Height of the scrollbar */
}

/* The draggable part of the scrollbar */
.left-mess::-webkit-scrollbar-thumb {
    background-color: #111214; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
}

/* The scrollbar track */
.left-mess::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
    border-radius: 10px; /* Rounded corners */
}

/* The scrollbar thumb on hover */
.left-mess::-webkit-scrollbar-thumb:hover {
    background-color: #111214; /* Darker color when hovered */
}

.nav-left li{
    position: relative;
}

.nav-left li.active svg path{
    fill: white;
}

.nav-left li.active .line-check{
    content:"";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 20px;
    width: 8px;
    background-color: #f2f3f5;
}
.nav-left li:not(.active) div:hover svg path{
    fill: white;
}
.nav-left li:not(.active) div:hover, .nav-left li:not(.active) div:hover img{
    border-radius: 16px;
}
.nav-left li div:not(.line-check), .nav-left li div svg path{
    transition: 0.3s all;
}
.nav-left li:not(.active) div:hover + .line-check{
    content:"";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    border-radius: 20px;
    width: 8px;
    background-color: #f2f3f5;
}

.tab-bar li{
    text-align: center;
    min-width: 40px;
    transition: 0.2s all;
}
.tab-bar li.active{
    background-color: #43444b;
    color: #FFF;
}

.tab-bar li:not(.active):hover{
    background-color: #43444b;
    color: #FFF;
    cursor: pointer;
}

.tool-bar li div:hover svg path{
    fill: #FFF;
}

.grid-second{
    height: calc(100vh - 45.2px);
}

.setting:hover svg path{
    fill: #FFF;
}

.left-mess{
    height: calc(100vh - 98.2px);
}
.tab-site li{
    min-height: 42px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.tab-site li.active{
    background-color: #656766;
}
.tab-site li.active div svg path{
    fill: #FFF;
}

.tab-site li:not(.active):hover{
    background-color: #35373c;
}
.tab-site li:not(.active):hover span{
    color: #FFF;
}
.tab-site li:not(.active):hover div svg path{
    fill: #FFF;
}